
<div class="container">
    <div class="row">
      <div class="col">
          <h2 style="margin-top: 30px; text-align: center;">Point Turnamen Tingkat SMA/SMK/MA Se-Ketapang</h2>
      </div>
    </div>
    <table class="table table-bordered table-dark border-primary" style="margin-top: 40px;">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">TIM</th>
            <th scope="col">WWCD</th>
            <th scope="col">Total Point</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>EMPIRE ESPORTS</td>
            <td>3</td>
            <td>47</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>MAKLONG ESPORTS</td>
            <td>1</td>
            <td>41</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>PAKNGAH ESPORTS</td>
            <td>0</td>
            <td>36</td>
          </tr>
          <tr>
            <th scope="row">...</th>
            <td>. . . </td>
            <td>. . .</td>
            <td>. . .</td>
          </tr>
        </tbody>
      </table>
    <div>
        <p style="font-style: italic; margin-top: 40px;">Catatan : Point sudah diperhitungkan oleh panitia penyelenggara dengan baik</p>
    </div>
  </div>