<div class="container">
    <div class="row">
      <div class="col">
          <h2 style="margin-top: 30px; text-align: center;">Jadwal Pertandingan Turnamen Online PUBG Mobile Tingkat Sekolah Menengah Atas Se-Kabupaten Ketapang</h2>
      </div>
    </div>
    <table class="table table-bordered table-dark border-primary" style="margin-top: 40px;">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Group</th>
            <th scope="col">Hari dan Jam</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Group E dan Group A</td>
            <td>Selasa 15 Mei 2021 Pukul 20.00</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Group C dan Group F</td>
            <td>Selasa 15 Mei 2021 Pukul 15.00</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Group B dan Group D</td>
            <td>Rabu 16 Mei 2021 Pukul 10.00</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Group E dan Group C</td>
            <td>Rabu 16 Mei 2021 Pukul 16.00</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Group B dan Group F</td>
            <td>Rabu 16 Mei 2021 Pukul 21.00</td>
          </tr>
        </tbody>
      </table>
    <div>
        <p style="font-style: italic; margin-top: 40px;">Catatan : Untuk TIM yang sudah di list di dalam group harap untuk tepat waktu memasuki Room</p>
    </div>
  </div>