<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament PUBG Mobile Tingkat SMA/SMK/MA Se-Kab. Ketapang</title>
</head>
<body>
    <div class="container">
        <h2 style="margin-top: 40px; text-align: center;">Tournament PUBG Mobile Tingkat SMA/SMK/MA Se-Ketapang</h2>
        <p style="margin-top: 30px; text-align: center;">Assalamualaikum Wr. Wb.</p>
        <p style="text-align: center;">For Your Information, yang ditunggu-tunggu akhirnya datang. Simak info di bawah ini yukk!!</p>
        <p style="text-align: center;">Turnamen antar SMA/SMK/MA Se-Ketapang dengan tema ”Membangun Jiwa Pemenang Sejati dengan Semangat dan Sportifitas”</p>
        <p style="text-align: center;">REWARD ??</p>
        <p style="text-align: center;">Juara 1,2 dan 3 Trophy Piala Bergilir</p>
        <p style="text-align: center;">Sertifikat Top Score & Best Supporter</p>
        <p style="text-align: center;">TOTAL HADIAH JUTAAN RUPIAH</p>
        <p style="text-align: center;">Save the date ?</p>
        <p style="text-align: center;">Open Registration</p>
        <p style="text-align: center;">01 Mei 2021 Sampai dengan 10 Mei 2021</p>
        <p style="text-align: center;">Technical Meeting tanggal 12 Mei 2021</p>
        <p style="text-align: center;">Pendaftaran GRATIS!!!!!</p>
        <p style="text-align: center;">Bisa Mendaftar Melalui Link Berikut :</p>
        <p style="text-align: center;">https:://TournamentPUBMKtp</p>
    </div>
</body>
</html>